{% set categoryDescriptionTop = ceresConfig.item.showCategoryDescriptionTop %}
<div>
    <lazy-img class="category-heroshot"
            {% if category.details[0].imagePath is not empty %}image-url="/documents/{{ category.details[0].imagePath }}"{% endif %}
            :is-background-image="true"
            role="img">
    	<div class="container-max">
    		<div class="row">
    			<div class="col-12 d-flex justify-content-center">
                    <div class="category-heroshot-container">
    				    <h1 class="category-h1 text-uppercase">{{ category.details[0].description | raw }}</h1>
    				    <span class="category-description-container col-12 col-sm-12 col-md-9 col-lg-8 d-block mx-auto">{{ category.details[0].description2 | raw }}</span>
                    </div>
    			</div>
    		</div>
    	</div>
     </lazy-img>
</div>