{# TODO: remove margina nd apdding #}
<div class="homepage-container w-100 ">
	<newsletter-pop-up></newsletter-pop-up>


	<div class="hero-section-one d-flex justify-content-center items-center row d-flex">
		<h1>Blitzschnell das passende
			<br>
			Ersatzteil finden</h1>
		<p>Einfach Hersteller und Modell Ihres Gartengeräts auswählen und auf “Suche starten” klicken,<br>
			um das gewünschte Produkt zu finden. Optional lässt sich zudem eine Produktkategorie auswählen.
		</p>


		<div class="ersatzteilsuche">
			<div class="container">
				<div class="OwnCategoryNavigationContainer col-sm-12 col-md-8 col-lg-9 col-xl-9 col-xxl-10">
					<div class="container mt-5">
						<div class="select-load">
							<select id="replacement" class="js-states form-control">
								<option disabled selected>Marke wählen</option>
							</select>
						</div>
					</div>
					<div class="col-12 d-flex mb-1 px-0">
						<div class="select-load">
							<select id="producer" class="js-states form-control" disabled>
								<option disabled selected>Modell wählen</option>
							</select>
						</div>
					</div>
					<div class="col-12 d-flex mb-0 px-0">
						<div class="select-load">
							<select id="model" class="js-states form-control" disabled>
								<option disabled selected>Produktkategorie wählen</option>
							</select>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="hero-section-two row d-flex">
		<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/IMG_1FC2C6F49006-1.jpeg" alt="homepage hersection photo">
	</div>
	<div class="hero-section-three row d-flex">
		<h1>
			KO<span class="green-text">M</span>PETENT.<br>
			ERF<span class="green-text">A</span>HREN.<br>
			<span class="green-text">VER</span>LÄSSLICH.
		</h1>

		<h1>
			<span class="green-text">S</span>eit 40 Jahren Dabei</h1>

		<div class="d-flex flex-column justify-content-start align-items-center">
			<a href="">Mehr über uns erfahren</a>
		</div>
		<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Schraubenzieher_gru_n.png" alt="man with screwdriver">

		<h3>wir bieten ersatzteile für</h3>

	</div>

	<div class="hero-section-four row d-flex">
		<h3>
			ES gibt offene fragen?
		</h3>

		<div class="contact-info-container">
			<div class="contact">
				<h4>Kontakt</h4>
				<a>info@<br>maversand.at</a>
			</div>
			<div class="time">
				<h4>Bürozeiten</h4>
				<a class="inner-contaienr">
					<p>Montag - Freitag</p>
					<p>9:00-13:00</p>
					<p>14:00-17:00</p>
				</a>
			</div>
			<div class="location">
				<h4>Standort</h4>
				<a class="inner-contaienr">
					<p>
						In der Laach 1-3
					</p>
					<p>
						53925 Kall
					</p>
				</a>
			</div>
		</div>
		<button>
			<a href="">Kontakt</a>
		</button>
	</div>
	<category-template faqsectionboolean="true" header-title="My Header Title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae justo vitae nisl dictum euismod. Cras commodo, arcu vitae condimentum auctor, enim dui tempus justo, ac cursus risus tellus vel sem. Cras porttitor lacus ac ex vestibulum dictum. Fusce pulvinar sapien a nisi fringilla, non fringilla purus egestas. Sed a ligula congue, aliquam diam ac, congue augue. Integer aliquam sem id ante vulputate fringilla. Quisque at libero sit amet lectus euismod lacinia. Proin pellentesque varius orci, ut porttitor mauris venenatis vel. In ac quam libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in volutpat nisi. Vestibulum ac diam sed massa condimentum pulvinar. Nullam malesuada aliquam ultrices. Nullam tristique sollicitudin odio, vitae semper risus ornare sed. Aenean feugiat ex vel neque fringilla, quis condimentum lectus convallis. Aliquam erat volutpat. Vivamus eu augue gravida, condimentum ante eu, facilisis orci. Mauris auctor sollicitudin mi, in facilisis massa consectetur sit amet. Suspendisse vel dapibus lacus. Mauris ut nunc fringilla, tempor urna in, cursus ligula." background-picture="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/IMG_1FC2C6F49006-1.jpeg" :faqs="[
																										        {header: 'Question 1', answer: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae justo vitae nisl dictum euismod. Cras commodo, arcu vitae condimentum auctor, enim dui tempus justo, ac cursus risus tellus vel sem. Cras porttitor lacus ac ex vestibulum dictum. Fusce pulvinar sapien a nisi fringilla, non fringilla purus egestas. Sed a ligula congue, aliquam diam ac, congue augue. Integer aliquam sem id ante vulputate fringilla. Quisque at libero sit amet lectus euismod lacinia.'},
																										        {header: 'Question 2', answer: 'Proin pellentesque varius orci, ut porttitor mauris venenatis vel. In ac quam libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in volutpat nisi. Vestibulum ac diam sed massa condimentum pulvinar. Nullam malesuada aliquam ultrices. Nullam tristique sollicitudin odio, vitae semper risus ornare sed. Aenean feugiat ex vel neque fringilla, quis condimentum lectus convallis.'},
																										        {header: 'Question 3', answer: 'Aliquam erat volutpat. Vivamus eu augue gravida, condimentum ante eu, facilisis orci. Mauris auctor sollicitudin mi, in facilisis massa consectetur sit amet. Suspendisse vel dapibus lacus. Mauris ut nunc fringilla, tempor urna in, cursus ligula.'},
																										    ]"></category-template>

	<category-template :faqsectionboolean="false"
	 header-title="My Header Title" 
	 content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae justo vitae nisl dictum euismod. Cras commodo, arcu vitae condimentum auctor, enim dui tempus justo, ac cursus risus tellus vel sem. Cras porttitor lacus ac ex vestibulum dictum. Fusce pulvinar sapien a nisi fringilla, non fringilla purus egestas. Sed a ligula congue, aliquam diam ac, congue augue. Integer aliquam sem id ante vulputate fringilla. Quisque at libero sit amet lectus euismod lacinia. Proin pellentesque varius orci, ut porttitor mauris venenatis vel. In ac quam libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in volutpat nisi. Vestibulum ac diam sed massa condimentum pulvinar. Nullam malesuada aliquam ultrices. Nullam tristique sollicitudin odio, vitae semper risus ornare sed. Aenean feugiat ex vel neque fringilla, quis condimentum lectus convallis. Aliquam erat volutpat. Vivamus eu augue gravida, condimentum ante eu, facilisis orci. Mauris auctor sollicitudin mi, in facilisis massa consectetur sit amet. Suspendisse vel dapibus lacus. Mauris ut nunc fringilla, tempor urna in, cursus ligula." background-picture="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/IMG_1FC2C6F49006-1.jpeg" :titletemplate="[
												        {A: [{name:'Aufsitzmaher',link:'http://asdsad'},{name:'Aufsitzmaher2',link:'http://asdsad2'}]},
												        {B: [{name:'Bufsitzmaher',link:'http://bsdsad'},{name:'Bufsitzmaher2',link:'http://bsdsad2'}]}
												        // More data here
												    ]"></category-template>


	<div class="hero-section-five">
		<h3>
			<span class="arrow"></span>
			<p>Produktkategorien</p>
			<span class="arrow"></span>
		</h3>
		<p>In unserem Sortiment finden Sie eine riesige Auswahl an Ersatzteilen und Zubehör.<br>
			Für Aufsitzmäher, Mähroboter, Motorsägen, Laubbläser, Schlegelmulcher und viele weitere Gartentechnik.</p>
		<div class="product-categories">
			<div class="products-overview">
				<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Ra_der.png" alt="reifen">
				<p>Reifen</p>
			</div>
			<div class="products-overview">
				<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Motor.png" alt="motoren">
				<p>Motoren</p>
			</div>
			<div class="products-overview">
				<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Kettensa_ge.png" alt="Sägeketten">
				<p>Sägeketten</p>
			</div>
			<div class="products-overview">
				<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Keilriemen.png" alt="Keilriemen">
				<p>Keilriemen</p>
			</div>
			<div class="products-overview">
				<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Seilzugstarter.png" alt="Seilzugstarter">
				<p>Seilzugstarter</p>
			</div>
			<div class="products-overview">
				<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/Ma_hmesser.png" alt="mahmesser">
				<p>Mähmesser</p>
			</div>
		</div>

		<p class="subtitle_products">Hier gelangen Sie zu
			<a>allen Kategorien</a>
		</p>
	</div>

	<div class="hero-section-six row">
		<div class="owl-carousel owl-theme">
			{% for i in 1..3 %}
				<div class="hero-section-six row">
					<div class="col-md-6">
						<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/pexels-artem-podrez-5025512.jpg" alt="versand boxen">
					</div>
					<div class="col-md-6">
						<h2>Versandinformationen
							{{ i }}</h2>
						<p>Sie erhalten Ihre Ware innerhalb von 1-2 Werktagen direkt nach Hause! Unsere Versandpartner sind DHL, DPD, Deutsche Post und DB Schenker. Wir versenden in die gesamte EU ab 5,90€ und Versandkostenfrei ab 200€ bei Paketsendung.</p>
						<button class="mt-5">Mehr erfahren</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="hero-section-seven">
		<h3>
			<p>Wir Bieten Ersatzteile Für</p>
		</h3>
		<vue-carousel></vue-carousel>

	</div>

	<div class="hero-section-eight">
		<h3>Überschrift</h3>
		<div class="row">
			<div class="col-md-4 d-flex flex-column justify-content-center text-center">
				<div class="img-container">
					<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/bottom_section_7/pexels-cottonbro-studio-4065876.jpg" alt="Image Description 1" class="img-fluid mx-auto img-scale">
				</div>
				<h2>Meet The Team</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae sapien vitae velit interdum dignissim. Suspendisse id.</p>
			</div>
			<div class="col-md-4 d-flex flex-column justify-content-center text-center">
				<div class="img-container">
					<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/bottom_section_7/pexels-cottonbro-studio-4065876.jpg" alt="Image Description 1" class="img-fluid mx-auto img-scale">
				</div>
				<h2>MA - BLOG</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae sapien vitae velit interdum dignissim. Suspendisse id.</p>
			</div>
			<div class="col-md-4 d-flex flex-column justify-content-center text-center">
				<div class="img-container">
					<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/bottom_section_7/pexels-cottonbro-studio-4065876.jpg" alt="Image Description 1" class="img-fluid mx-auto img-scale">
				</div>
				<h2>KARRIERE</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae sapien vitae velit interdum dignissim. Suspendisse id.</p>
			</div>
		</div>
	</div>

	<div class="hero-section-nine">
		<h1>KANNST DU DEIN HAUS NICHT MEHR ERSPÄHEN, WIRD’S HÖCHSTE ZEIT ZUM
			<span>RASENMÄHEN.</span>
		</h1>
		<img src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/homepage/bottom_section_7/Rasenma_her_Person_Haus.png" alt="clean house man vaccum">
	</div>
</div></div><script2>
window.onload = function() {
																																												 $('.hero-section-six > .owl-carousel').owlCarousel({
																																												    items: 1,
																																												    loop: true,
																																												    margin: 10,
																																												    nav: true
																																												  });
																																																		    var $carousel = $('.hero-section-seven > .list-item-carousel');
																																																		
																																																		    $carousel.owlCarousel({
																																																		        center: true, 
																																																		        items: 5,
																																																		        autoHeight: true,
																																																		        dots: false,
																																																		        loop: true,
																																																		        margin: 30,
																																																		        nav: false,
																																																		        navText: [
																																																		            '<i class="owl-single-item-control fa fa-chevron-left" aria-hidden="true"></i>',
																																																																																																																																								            '<i class="owl-single-item-control fa fa-chevron-right" aria-hidden="true"></i>'
																																																																																																																																								        ],
																																																																																																																																								        responsive: {
																																																																																																																																								            576: {
																																																																																																																																								                items: 2
																																																																																																																																								            },
																																																																																																																																								            768: {
																																																																																																																																								                items: 3
																																																																																																																																								            },
																																																																																																																																								            992: {
																																																																																																																																								                items: 5
																																																																																																																																								            }
																																																																																																																																								        },
																																																																																																																																								        onInitialized: scaleItems,
																																																																																																																																								        onResized: scaleItems,
																																																																																																																																								        onTranslate: scaleItems, // Use onTranslate instead of onTranslated
																																																																																																																																								        onTranslated: scaleItems
																																																																																																																																								    });
																																																																																																																																								
																																																																																																																																								    function scaleItems(event) {
																																																																																																																																								        var $activeItems = $carousel.find('.owl-item.active');
																																																																																																																																								        var $allItems = $carousel.find('.owl-item');
																																																																																																																																								
																																																																																																																																								        // Reset scale of all items first
																																																																																																																																								        $allItems.find('.products-overview-carousel').css('transform', 'scale(1)');
																																																																																																																																								
																																																																																																																																								        $activeItems.each(function(index) {
																																																																																																																																								            if(index === 2){ // The middle item
																																																																																																																																								                $(this).find('.products-overview-carousel').css('transform', 'scale(1.8)');
																																																																																																																																								            }
																																																																																																																																								            else if(index === 1 || index === 3){ // The items next to the middle one
																																																																																																																																								                $(this).find('.products-overview-carousel').css('transform', 'scale(1.5)');
																																																																																																																																								            }
																																																																																																																																								        });
																																																																																																																																								    }
																																																																																																																													
																																																																																																																												
																																																																																																																												
																																																																																																																																								};</script2>
