.basket-container-single-item {
    .quantity-input-container {
        background: none !important;
    }

    .qty-box {
        >div {
            display: flex !important;
            flex-direction: row !important;
            background: transparent !important;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            align-content: flex-start;
            align-items: flex-start;

            input {
                margin: 0 10px;
                border-right: 1px solid #fff;
            }

            button {
                width: 40px !important;
                height: 40px;
                display: flex !important;
                justify-content: center;
                align-items: center;
                margin-top: 0 !important;
                border-radius: 15px !important;

                i {
                    margin-right: 0 !important;
                }
            }
        }
    }
}


.single-carousel {
    img {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}

.cross-selling {
    background-color: transparent !important;

    .swiper-slide {
        background-color: transparent !important;
    }

    article {
        padding-bottom: 30px !important;
        margin-bottom: 0 !important;
        background-color: transparent !important;
        max-width: 400px;
    }

    .thumb-image {
        width: 400px;
    }
}


.single-carousel {
    img {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}

.cross-selling.categoriegrid {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: transparent;


    .thumb-image {
        width: 100%;

        img {
            width: 100% !important;
        }
    }

    .wishlist {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .25);

        button {
            border: none !important;
            display: flex !important;
            justify-content: center !important;
            align-content: center;
            align-items: center;

            &:hover {
                padding: 19px !important;
                height: 100%;
            }

            i {
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }
}


.cross-selling {
    position: relative;

    p.h3 {
        position: absolute;
        top: 3px;
        left: 50%;
        transform: translate(-50%);
        text-transform: uppercase;
        z-index: 9;
        background: linear-gradient(to right, #2c2c2c, #212121);
        padding: 0 16px;
    }

    >.col-12 {
        &:first-child {
            padding-bottom: 40px;
        }
    }
}