.impressum-page {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 100vh;
    color: #fff;

    >.widget-inner {
        max-width: 1200px !important;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

        .header.impressum {
            .widget-inner {
                padding: 0 !important;
                font-size: 1.7rem;
                text-transform: uppercase;
                margin-bottom: 15px;
                color: #8AB536;
            }
        }

        a {
            color: #fff !important;
        }
    }

    .widget-legal-text {
        width: 100%;
    }
}

.datenschutzerklaerung-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 100% !important;
    color: #fff;

    >.widget-inner {
        max-width: 1200px !important;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

        .header.impressum {
            .widget-inner {
                padding: 0 !important;
                font-size: 1.7rem;
                text-transform: uppercase;
                margin-bottom: 15px;
                color: #8AB536;
            }
        }

        a {
            color: #fff !important;
        }

        .widget-legal-text {
            width: 100%;
        }
    }

}

@media only screen and (max-width: 1000px) {

    .datenschutzerklaerung-page,
    .impressum-page {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0 20px;

    }

    .impressum-page {
        height: 100%;
    }

    #page-header,
    #page-header .navbar {
        background: transparent !important;
    }
}



@media (max-width: 767px) {
    body #vue-app {
        margin-top: 0 !important;
    }
}

/* ========== LOGIN AND REGISTRATION PAGE ========== */
.register-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 100% !important;
    color: #fff;

    select~label {
        display: none;
    }

    select {
        border-radius: 35px;
        height: 40px;
        padding: 0 !important;
        padding-left: 20px !important;

    }

    hr {
        display: none !important;
    }

    form {
        >.mt-2 {
            text-align: center !important;
            margin-bottom: 50px;

            button {
                padding: 10px 60px;
                border-radius: 35px;
            }
        }

        .input-unit {
            >div {
                width: 100%;
            }
        }
    }

    .header {
        >div {
            padding-left: 0 !important;
            margin-left: 0 !important;
            margin-bottom: 20px;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.3);
            }
        }

        p {
            font-size: 1.5rem !important;
        }
    }

    >.widget-inner {
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

        input[autocomplete="new-password"] {
            flex-grow: 1;
        }

        .input-unit {
            border: none !important;
            background: transparent !important;
            display: flex;
            align-items: center;
            align-content: center;

            &::active,
            &::target,
            &::focus {
                label {
                    display: none !important;
                }
            }

            input {
                border-radius: 35px;
                outline: none !important;
                background: transparent !important;
                border: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                line-height: 10px !important;
                padding: 10px;

            }

            label {
                font-size: 1.4rem;
                line-height: 30px !important;
                margin-left: 10px;
            }
        }

        .input-unit:focus-within label {
            display: none;
        }

    }
}

.login-contianer {
    background: url('https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/website_relaunch/Gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0 !important;
    height: 100% !important;
    color: #fff;
    padding: 250px 0;
    margin-bottom: 20px !important;

    >.widget-inner {
        max-width: 1000px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }

    .andelden-text {
        >div {
            margin-left: 0 !important;
            padding-left: 0 !important;
        }

        p {
            font-size: 1.78rem;
            margin-left: 0 !important;
            padding-left: 0 !important;
            margin-bottom: 20px;
        }
    }

    .new-account-make-container {
        background: #414141;
        min-height: 400px;
        display: flex;
        justify-content: flex-start;
        padding: 0 40px;
        align-content: center;
        align-items: center;
        border-radius: 10px;

        .header {
            font-size: 1.75rem;
            margin-bottom: 30px !important;
        }

        a {
            background: #F7883F;
            color: #fff;
            padding: 15px 50px;
            border-radius: 35px;

            &:hover {
                background: #f16c13;
            }
        }

        ul {
            margin-top: 30px;
            padding-left: 0 !important;

            li {
                padding-left: 20px;
                list-style: none;

                &::before {
                    content: '•';
                    margin-right: 10px; // Set the space between the dot and the text
                    color: #fff; // Set the color of the dot
                }
            }
        }

    }

    .widget.widget-grid.widget-two-col.row>.col-xl-6 {
        &:last-child {
            .widget-inner {
                padding-left: 0 !important;
                padding-top: 0 !important;

                p {
                    font-size: 1.5rem;
                }
            }

            form {
                &>.row {
                    flex-direction: column !important;

                    .col-5 {
                        text-align: left !important;
                        width: 350px !important;
                        min-width: 350px !important;

                        button {
                            width: 100% !important;
                            border-radius: 35px;
                            background: #8AB536;
                            border: 1px solid #8AB536;
                            margin-top: 5px;

                        }
                    }

                    .col-7 {
                        a {
                            color: rgba(255, 255, 255, 0.7) !important;
                            font-size: 1rem !important;
                            text-decoration: underline;
                        }

                        margin-bottom: 10px !important;

                    }
                }

                &>.text-right {
                    text-align: left !important;

                    button {
                        width: 320px !important;
                        border-radius: 35px;
                        background: #8AB536;
                        border: 1px solid #8AB536;
                        margin-top: 5px;

                    }
                }
            }
        }

        .input-unit {
            border: none !important;
            background: transparent !important;
            display: flex;
            align-items: center;
            align-content: center;

            &::active,
            &::target,
            &::focus {
                label {
                    display: none !important;
                }
            }

            input {
                border-radius: 35px;
                outline: none !important;
                background: transparent !important;
                border: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                line-height: 15px !important;
                padding: 15px;

            }

            label {
                font-size: 1rem;
                line-height: 35px !important;
                margin-left: 10px;
                text-transform: capitalize;
            }
        }

        .input-unit:focus-within label {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .login-contianer {
        padding: 100px 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;

        .andelden-text {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 0;

        }

        .new-account-make-container {
            min-height: 140px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .register-container {
        padding: 150px 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


/* ==== Contact Us Page ==== */


.input-unit label,
.input-unit .input-unit-label {
    color: #fff;
}

.contact-form-name .input-unit input,
.contact-form-name .input-unit input:focus,
.contact-form-name .input-unit inputfocus:active,
.contact-form-name .input-unit input:hover,
.contact-form-email .input-unit input,
.contact-form-email .input-unit input:focus,
.contact-form-email .input-unit input:active,
.contact-form-email .input-unit input:hover,
.contact-form-phone .input-unit input,
.contact-form-phone .input-unit input:focus,
.contact-form-phone .input-unit input:active,
.contact-form-phone .input-unit input:hover,
.contact-form-message .input-unit textarea {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    outline: none !important;
    border-bottom: 1px solid #fff;
    background-color: transparent !important;
    background: transparent !important;
}

.contact-form-message .input-unit.textarea>label {
    background-color: #383938 !important;
}

.contact-form-name .input-unit,
.contact-form-email .input-unit,
.contact-form-phone .input-unit,
.contact-form-message .input-unit {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    outline: none !important;
    border: 0px !important;
}

.contact-form-teaser-headline h3 {
    font-size: 58px;
}

.contact-form-file {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    padding: 0px 25px 25px 0px;
}

.contact-form-file {
    width: 100%;
}

.contact-form-file .input-unit .input-unit-preview {
    margin-right: 20px;
    border: 1px solid;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.contact-form-file .input-unit label {
    top: 10px;
}

.contact-form-file .input-unit .input-unit-btn {
    background: none;
}

.contact-form-file .input-unit .input-unit-btn:before {
    content: "Datei wählen";
    color: #fff;
    width: 111px;
    display: block;
    right: 210px;
    position: absolute;
    top: 8px;
}

.contact-form-file .input-unit .input-unit-btn i {
    display: none;
}

.contact-form-file .input-unit {
    border: none;
}

.contact-form-file-label .widget-inner label {
    color: #fff;
    margin-top: 25px;
}


.contact-form-mandatory-text {
    text-align: right;
    color: #fff;
}

.contact-form .widget-inner form .text-right {
    text-align: left !important;
    margin-bottom: 20px;
}

.contact-form .btn-primary {
    border-radius: 20px;
    width: 100%;
}

@media (max-width: 768px) {

    .contact-form .widget-inner form .text-right,
    .contact-form .btn-primary {
        width: 100%;
    }
}

.contact-form .btn-primary i {
    display: none;
}

.widget-accept-privacy-policy .form-check-label {
    color: #fff;
}


.contact-card,
.contact-card p a span {
    color: #8ab536;
}

.contact-form-teaser-text::after {
    content: url(https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/images/pfeil.svg);
    width: 380px;
    padding-top: 50px;
    padding-right: 25px;
}

.contact-form-teaser-text::before {
    content: url(https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/images/kamera.svg);
    width: 180px;
    padding: 25px;
}

.contact-form-teaser-text-mobile::after {
    content: url(https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/images/pfeil.svg);
    width: 380px;
    transform: rotate(-75deg);
    margin-top: -45px;
}

.contact-form-teaser-text-mobile::before {
    content: url(https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/images/kamera.svg);
    width: 180px;
    padding: 25px;
}

.contact-card i {
    display: none;
}

.contact-form {
    .input-unit.textarea {
        background-color: transparent !important;

        textarea {
            background-color: transparent !important;
            background: transparent !important;
            color: #fff;
        }
    }
}

.contact-form-message {
    .input-unit.textarea {
        background-color: transparent !important;
        color: #fff !important;
    }
}