@import "./header";
@import "./singleitem";
@import "./home";
@import "./carousel";
@import ".././../node_modules/swiper/dist/css/swiper.css";
@import "./otherpage.scss";
@import "./basket";
@import "./category";
@import "./newsletterpopup";
@import "./categorytemplate";
@import "./cross-selling";
@import "./mobile";
@import "./preview.css";
@import "./footer";
@import "./categorysearch";


body {
    background: rgba(14, 14, 14, 1);
}

#page-body {
    background: rgba(14, 14, 14, 1);
    background: linear-gradient(137deg, rgba(60, 60, 59, 1) 0%, rgba(14, 14, 14, 1) 100%);
    background-attachment: fixed;
}

#page-body,
p>a,
span>a {
    color: #FFF;
}

@media(max-width: 992px) {
    #page-body {
        padding-top: 98px;
    }
}

@media(min-width: 991px) {
    #page-body {
        padding-top: 250px;
    }
}

.breadcrumbs {
    background-color: rgba(81, 83, 84, 0.3) !important;

    ul {
        background: transparent;
    }

    li {
        a {
            color: #fff;
        }
    }
}

/* ==== search === */
.fa-info-circle {
    color: #fff;
    position: absolute;
    top: 12px;
    right: 49px;
}

@media (max-width: 992px) {
    .fa-info-circle {
        color: black;
        position: absolute;
        right: 75px;
        top: 10px;
    }
}

@media (min-width:992px) {
    input.search-input {
        color: #fff;
    }
}