@import "./header";
@import "./singleitem";
@import "./home";
@import "./carousel";
@import ".././../node_modules/swiper/dist/css/swiper.css";
@import "./otherpage.scss";
@import "./basket";
@import "./category";
@import "./newsletterpopup";
@import "./categorytemplate";
@import "./cross-selling";
@import "./mobile";
@import "./preview.css";
@import "./footer";
@import "./categorysearch";
@import "./modalDevice";
@import "./searchtooltip";
@import "./order";

body {
    background: rgba(14, 14, 14, 1);
}

#page-body {
    background: rgba(14, 14, 14, 1);
    background: linear-gradient(137deg, rgba(60, 60, 59, 1) 0%, rgba(14, 14, 14, 1) 100%);
    background-attachment: fixed;
}

#page-body,
p>a,
span>a {
    color: #FFF;
}

@media(max-width: 992px) {
    #page-body {
        padding-top: 98px;
    }
}

@media(min-width: 991px) {
    #page-body {
        padding-top: 250px;
    }
}

.breadcrumbs {
    background-color: rgba(81, 83, 84, 0.3) !important;

    ul {
        background: transparent;
    }

    li {
        a {
            color: #fff;
        }
    }
}

/* ==== search === */
.fa-info-circle {
    color: #fff;
    position: absolute;
    top: 12px;
    right: 49px;
}

@media (max-width: 992px) {
    .fa-info-circle {
        color: black;
        position: absolute;
        right: 75px;
        top: 10px;
    }
}

@media (min-width:992px) {
    input.search-input {
        color: #fff;
    }
}

/*temp*/
.modal-manager-container {
    .fade:not(.show) {
        opacity: 1;
        display: block;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 500vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}



// $color: #926def, #8c6ced, #876beb, #6565dd, #5f64db;
$color: hsla(39, 100%, 77%, 1), hsla(38, 98%, 76%, 1), hsla(38, 98%, 70%, 1), hsla(22, 90%, 69%, 1), hsla(22, 90%, 65%, 1), #507cbe;



.animation-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    overflow: hidden;

    $circle-size: 20px;
    $circle-margin: 7px;

    .circle {
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        margin: $circle-margin;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: "";
            width: $circle-size;
            height: $circle-size;
            border-radius: 50%;
            opacity: 0.7;
            animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
        }
    }

    @for $i from 1 through 5 {
        .circle-#{$i} {
            background-color: nth($color, $i);

            &:before {
                background-color: nth($color, $i);
                animation-delay: 200ms * $i;
            }
        }
    }

    @keyframes scale {
        0% {
            transform: scale(1);
        }

        50%,
        75% {
            transform: scale(2.5);
        }

        78%,
        100% {
            opacity: 0;
        }
    }

}