{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<footer class="page-footer font-small unique-color-dark pt-4">
	<div class="container text-center text-md-left mt-5">
		<div class="row mt-3">
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<img alt="Ma-versand logo" src="https://cdn02.plentymarkets.com/ocqgl0v083vy/frontend/images/ma_versand_logo_svg.svg"/>

				<div id="footerCollapse1" class="collapse">
					<h2>NewsLetter Anmeldung</h2>
					<p>Angebote & Rabatte per E-Mail erhalten</p>
				</div>
			</div>

			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
				<h6 class="text-uppercase font-weight-bold collapsed" data-toggle="collapse" data-target="#footerCollapse2">Rechtliches</h6>
				<div id="footerCollapse2" class="collapse">
					<p>
						<a href="/agb">AGB</a>
					</p>
					<p>
						<a href="/impressum">Impressum</a>
					</p>
					<p>
						<a href="#!">Wiederrufsrecht</a>
					</p>
					<p>
						<a href="/datenschutzerklaerung">Datenschutzerklärung</a>
					</p>
				</div>
			</div>

			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<h6 class="text-uppercase font-weight-bold collapsed" data-toggle="collapse" data-target="#footerCollapse3">Service</h6>
				<div id="footerCollapse3" class="collapse">
					<p>
						<a href="#!">Kontakt</a>
					</p>
					<p>
						<a href="#!">Versand</a>
					</p>
					<p>
						<a href="/faq">FAQ</a>
					</p>
					<p>
						<a href="#!">Battrie-Verpackungshinweise</a>
					</p>
				</div>
			</div>

			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
				<h6 class="text-uppercase font-weight-bold collapsed" data-toggle="collapse" data-target="#footerCollapse4">Überuns</h6>
				<div id="footerCollapse4" class="collapse">
					<p>
						<a href="/ueber-uns">Unser Team</a>
					</p>

					<p>
						<a href="#!">Karriere</a>
					</p>
					<p>
						<a href="#!">Blog</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
				<h6 class="text-uppercase font-weight-bold">Folgen Sie uns auf</h6>
				<div id="footerCollapse5" class="collapse">
					<p>
						<a href="#!">
							<i class="fa fa-instagram"></i>
						</a>
					</p>
					<p>
						<a href="#!">
							<i class="fa fa-youtube"></i>
						</a>
					</p>
					<p>
						<a href="#!">
							<i class="fa fa-facebook-f"></i>
						</a>
					</p>
				</p>
			</div>
		</div>


	</div>
</div></footer>
